[Unit]
Description=TCPDump as a service
After=network.target


[Service]
Type=simple
Restart=always
User=root
ExecStart=tcpdump -i internet -s 65535 -w /mnt/pcaps/tcpdump.$(date +%s)


[Install]
Wanted-by=multi-user.target
