# locale
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us


# network
d-i netcfg/choose_interface select enp5s0
d-i netcfg/nameservers string 8.8.8.8
d-i netcfg/hostname string cubes
d-i netcfg/domain string 


# firmware not found
d-i hw-detect/firmware-lookup string never


# apt
d-i mirror/country string US
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string
d-i mirror/suite string stable

d-i apt-setup/disable-cdrom-entries boolean true
d-i pkgsel/run_tasksel boolean false


# accounts
d-i passwd/make-user boolean false


# time
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean true


# partitioning
d-i partman-auto/disk string /dev/nvme0n1
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


# grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default
d-i finish-installer/reboot_in_progress note
